/* This CSS will only affect the elements inside the .sbmt-fm container */
.sbmt-fm {
    /* Styles for the form wrapper */
    padding: 20px;
    background-color: #f9f9f9;
}

.sbmt-fm .frm {
    margin-top: 15px;
}

.sbmt-fm .slc-btn {
    background-color: #0073aa; /* WordPress blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sbmt-fm .slc-btn:hover {
    background-color: #005a8d;
}

.sbmt-fm .s-img img {
    margin: 5px;
    width: 100px;
    height: auto;
}

.sbmt-fm input[type="text"],
.sbmt-fm textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sbmt-fm input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sbmt-fm input[type="submit"]:hover {
    background-color: #218838;
}

.sbmt-fm #status-message {
    margin-top: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

td img {
    padding: 10px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #cecdc6;
    margin-right: 10px;
}


.scrollable-modal {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;  /* Enable vertical scrolling */
}

.modal-body {
    max-height: 400px; /* Adjust this height as necessary */
    overflow-y: auto; /* Enable vertical scrolling */
}


.page-btn.active {
    color: blue;
    font-weight: bold; /* Optional: makes it more prominent */
}


/* Masonry grid container */
.masonry-container {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
}

/* Grid styling */
.masonry-grid {
    column-count: 4;
    column-gap: 15px;
    width: 100%;
    max-width: 1200px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 8px;
}

/* Hover effect */
.grid-item:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

/* Lightbox image title and description overlay */
.grid-item a::after {
    content: attr(data-title);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
}

/* Show overlay on hover */
.grid-item:hover a::after {
    opacity: 1;
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
    .masonry-grid {
        column-count: 3;
    }
}

@media screen and (max-width: 768px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media screen and (max-width: 480px) {
    .masonry-grid {
        column-count: 1;
    }
}

/* "View More" Button Styling 
#view-more-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #0073e6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 150px; 
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

#view-more-btn:hover {
    background-color: #005bb5;
}
*/

#load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0073aa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#load-more:hover {
    background-color: #005177; 
}


/* .fancybox-caption .fancybox-caption__body {
    white-space: pre-line;
} */
